services:
  db:
    image: mysql:8.0
    container_name: mysql_db
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: your_strong_password # 強力なパスワードに変更
      MYSQL_DATABASE: conference_room_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306" # ローカルの3307をコンテナの3306に接続
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  web:
    build: .
    container_name: django_app
    command: gunicorn Attendance.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "80:8000"
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: your_strong_password # ← dbサービスで設定したパスワードと合わせる
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_data:
