{% extends "base.html" %}

{% block title %}クラス一覧{% endblock %}

{% block content %}
<div class="page-container">

  <h2 class="title">クラス一覧</h2>

  <span id="today"></span>

  <table class="class-table-detail">
    <thead>
      <tr>
        <th>番号</th>
        <th>名前</th>
        <th>詳細</th>
        <th>通知</th>
      </tr>
    </thead>

    <tbody>
      {% for student in students %}
      <tr>
        <!-- class_name は StudentProfile に存在しないので削除 -->
        <td>{{ student.student_number }}</td>
        <td>{{ student.student_name }}</td>

        <!-- detail に student.id を渡す -->
        <td>
          <a href="{% url 'telles:detail' student.id date %}">▶</a>
        </td>
        <td>
              {% if student.id in notify_map %}
            <span style="color: red; font-weight: bold; margin-left: 10px;">
              ▶🔔
            </span>
          {% endif %}
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4" class="empty">データがありません</td></tr>
      {% endfor %}
    </tbody>
  </table>

</div>

<script>
  const today = new Date();
  const year = today.getFullYear();
  const month = today.getMonth() + 1;
  const day = today.getDate();

  document.getElementById("today").textContent = `${year}年${month}月${day}日`;
</script>
{% endblock %}
