{% extends "base.html" %}
{% block title %}トップページ{% endblock %}

{% block content %}
<section class="content">
  <h1 class="title">トップメニュー</h1>
  <p id="datetime" class="datetime"></p>

  <div class="menu-container">

    <!-- ボタンメニュー -->
    <div class="menu-box">
      <div class="buttons-vertical">
        <a href="{% url 'telles:student_signup' %}" class="action-card">
          <div class="action-icon">+</div>
          <div class="action-text">新規登録</div>
        </a>
        <a href="{% url 'telles:calendar' %}" class="action-card">
          <div class="action-icon">📋</div>
          <div class="action-text">出欠簿</div>
        </a>
      </div>
    </div>

    <!-- クラス一覧 -->
    <div class="class-box">
      <h3>クラス一覧</h3>

      <span id="today"></span>

      <table class="class-table-top">
        <thead>
          <tr>
            <th>クラス</th>
            <th>番号</th>
            <th>名前</th>
            <th>出席状況</th>
          </tr>
        </thead>

        <tbody>
          {% for student in students %}
          <tr class="{% if not student.is_active %}student-inactive{% endif %}">
            <td>{{ student.class_name }}</td>
            <td>{{ student.student_number }}</td>
            <td>
            <a href="{% url 'telles:profile' student.id %}"
              class="{% if not student.is_active %}student-inactive{% endif %}">
              {{ student.student_name }}
              {% if not student.is_active %}（退学）{% endif %}
            </a>
            </td>

            <td>
              {% if student.attendance %}
                {{ student.attendance.get_status_display }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>

          {% empty %}
          <tr>
            <td colspan="4" class="empty">データがありません</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>
</section>

<script>
  const today = new Date();
  const year = today.getFullYear();
  const month = today.getMonth() + 1;
  const day = today.getDate();
  document.getElementById("today").textContent =
    `${year}年${month}月${day}日`;
</script>
{% endblock %}
