{% extends "stu_base.html" %}
{% load static %}

{% block title %}パスワード変更{% endblock %}
{% block page_class %}reset-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_reset_password.css' %}">
{% endblock %}

{% block content %}
<section class="content">
    <h1 class="title">パスワード変更</h1>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    <form method="POST" class="reset-form">
        {% csrf_token %}

        <label>
            新パスワード
            <input type="password" name="new_password" required>
        </label>

        <label>
            新パスワード（再入力）
            <input type="password" name="new_password2" required>
        </label>

        <div class="signup-buttons">
            <button type="submit">変更する</button>
        </div>
    </form>

    <!-- 戻るボタン -->
    <div class="back-button-container">
        <a href="{% url 'telles:student_account' %}">
            <button type="button" class="back-button">アカウント情報に戻る</button>
        </a>
    </div>
</section>
{% endblock %}
