{% extends "stu_base.html" %}
{% load static %}

{% block title %}パスワード変更完了{% endblock %}
{% block page_class %}reset-done-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/student_reset_password.css' %}">
{% endblock %}

{% block content %}
<section class="content">
    <h1 class="title">パスワード変更が完了しました</h1>
    <p>新しいパスワードに変更されました。</p>
    <p id="countdown" data-login-url="{% url 'telles:student_login' %}">
    <span id="countdown-number">5</span> 秒後にログインページに移動します...
    </p>
</section>
{% endblock %}
